/*
 * Nanum Gothic (Korean) http://www.google.com/fonts/earlyaccess v4
 * edit dstyle
 */
@fontname:"Nanum Gothic";
@fontfile:"nanumGothicV4/NanumGothic-Regular";
.fontFace(@prefix,@weight){
	@font-face{
		font-family: "@{fontname}";
		font-style: normal;
  		font-weight:"@{weight}";
		src: url("@{fontfile}-@{prefix}.eot");
		src: url('@{fontfile}-@{prefix}.eot?#iefix') format('embedded-opentype'),
             url('@{fontfile}-@{prefix}.woff') format('woff'),
             url('@{fontfile}-@{prefix}.ttf') format('truetype');
	} 
}
.fontFace("Regular","400");
.fontFace("Bold","700");
.fontFace("ExtraBold","800");